@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    /* bgcolor */

    --background: #3d414d;
    --primary:#252c3a ;
    --secondary:#061F6E ;

    /* color de texto */

    --texto1: white;
    --texto2: rgb(187, 186, 186);
    --texto3: rgb(130, 129, 129);
    --titulo1: rgb(178, 118, 6);
     
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

/* header */

header {
    background: var(--background);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10px 6px 25px;
    position: fixed;
    top: 0px;
}

.titulopag{
    display: flex;
    font-weight: 750;
    color: var(--titulo1);
    align-items: flex-start;
    padding-right: 58%;
    font-size: 20px;
}

span{
    font-style: italic;
}

.logo{
    border-radius: 10%;
    height: 75px;
}

.carrito{
    height: 40px;
    cursor: pointer;
}

.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    gap: 30px;
    font-size: 17px;
    font-weight: 300;
}

.navbar{
    gap: 40px;
}

.navbar-list a{
    color: var(--texto2);
    cursor: pointer;
}

.navbar-list li:first-child> a{
    color: var(--texto1);
    font-weight: 600; 
}