@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    /* bgcolor */

    --background: #3d414d;
    --primary:#252c3a ;
    --secondary:#061F6E ;

    /* color de texto */

    --texto1: white;
    --texto2: rgb(187, 186, 186);
    --texto3: rgb(130, 129, 129);
    --titulo1: #b27606;
     
}

body{
    background:#252c3a;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
}

/* body */



/* header */

header {
    background: #3a3e4b;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 5px 10px 6px 25px;
    position: fixed;
    top: 0px;
}

.titulopag{
    display: flex;
    font-weight: 750;
    color: var(--titulo1);
    align-items: flex-start;
    padding-right: 58%;
    font-size: 20px;
}

.titulosp{
    font-style: italic;
}

.logo{
    border-radius: 10%;
    height: 75px;
}

.carrito{
    height: 40px;
    cursor: pointer;
}

.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    gap: 30px;
    font-size: 17px;
    font-weight: 300;
}

.navbar{
    gap: 40px;
}

.navbar-list a{
    color: var(--texto2);
    cursor: pointer;
}

.navbar-list li:first-child> a{
    color: var(--texto1);
    font-weight: 600; 
}

.cart{
    position: absolute;
    top: 80px;
    right: 0%;
    padding: 50px 30px;
    background: linear-gradient(to bottom, #3a3e4b,#b27606);
    border: 3px solid #3a3e4b;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.cart h2{
    font-weight: 800;
    color:var(--titulo1);
    padding-bottom: 5%;
}

.cart-item{
    display: flex;
    border: 3px solid var(--titulo1);
    flex-direction: column;
    border-radius: 0.5rem;
    color: var(--titulo1);
    padding: 5%;
    background: var(--background);
    height: 300px;
    width: 270px;

}

.cart-item img{
    height: 80%;
    width: 100%;
    border-radius: 1rem; 
}

.item-title{
    padding-top: 5%;
}

.item-price{
    font-weight: 600;
}

.cart-total{
    display: flex;
    font-weight: 700;
    font-size: larger;
    color: var(--texto1);
    padding-top: 10%;
    padding-bottom: 2%;
}

.buy-button{
    background: var(--background);
    width: 100px;
    height: 35px;
    border-radius: 0.5rem;
    padding: 2%;
    text-align: center;
    color: var(--texto2);
    font-weight: 600;
    cursor: pointer;
}

main{
    background: linear-gradient(to bottom,var(--background) ,var(--primary)) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--texto1);
    width: 100%;
}

#hero{
    margin-top: 100px;
    padding: 70px 0px;
    max-width: 1980px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-bottom: 30px;
}

.hero-info h1{
    display: flex;  
    font-size: 80px;
    width: 85%;
    font-weight: 725;
    min-height: 150px;
    color: var(--titulo1);
    padding-left: 90px;
}

.hero-info p{
    font-size: 25px ;
    color: var(--texto3);
    width:70%;
    padding-left: 90px;
    padding-bottom: 30px;
}

 .hero-info p> span{
    font-weight: 700;
 }

 .hero-info a{
    color: var(--texto1);
    background-color: var(--titulo1);
    border-radius: 07px;
    width: 160px;
    height: 50px;
    padding: 10px 0px;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-left: 80px;
 }

.hero-card{
    width: 40%;
    padding-bottom: 40px;
}

 .hero-card img{
    height: 600px;
    border-radius: 20px;
}

.caja{
    display: flex;
    justify-content: center;
}

.info-page{
    border: 3px solid var(--titulo1);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: var(--texto2);
    font-size: 20px;
    width: 70%;
    font-weight: 450;
}

.sp{
    font-style: italic;
    color: var(--titulo1);
    font-weight: 750;
}



